body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightblue;
  background-image: url('../public/appRunner.jpg');
  background-size: 100%;
}

.imgContainer{
    float:left;
}